{% extends "base.html" %}

{% block stylesheet %}
<link href="{{ url_for('static', filename='styling/index.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %}
<h1 class="text-3xl text-bold">Choose the Image Transformation Technique</h1>
<form
    action="/process_trans_type"
    method="post"
    enctype="multipart/form-data"
    class="
    flex 
    flex-col 
    justify-center
    items-center"
>
    <div id="options" class="flex flex-row">
        <label>
            <input type="radio" name="transform-type" value="enchancement" checked>
            <img src="https://via.placeholder.com/40x60/0bf/fff&text=A" alt="Option 1">
        </label>
        
        <label>
            <input type="radio" name="transform-type" value="neural">
            <img src="https://via.placeholder.com/40x60/b0f/fff&text=B" alt="Option 2">
        </label>
    </div>
    <div id="submit" class="flex flex-col">
        <button
        type="submit"
        class="p-4 bg-indigo-500 text-white rounded-md"
    >
        Langkah berikutnya
    </button>
    </div>
</form>
{% endblock %}