{% extends "base.html" %}

{% block stylesheet %}
<link href="{{ url_for('static', filename='styling/neural.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %}
<span id="header">Choose Your Style</span>
<form
action="/render_style"
method="post"
enctype="multipart/form-data"
>
<div id="options" class="grid-container">
    {% for i in range(all_style_paths | length) %}
    <div>
        <label>
            <span>{{all_styles[i]}}</span>
            <input type="radio" name="transform-type" value="{{all_style_paths[i]}}">
            <img src="{{ all_style_paths[i] }}" alt="">
        </label>
    </div>
    {% endfor %}
</div>
<div id="submit" class="flex flex-col">
    <button
    type="submit"
    class="p-4 bg-indigo-500 text-white rounded-md"
>
    Langkah berikutnya
</button>
</div>
</form>
{% endblock%}