{% extends "base.html" %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='styling/camera.css') }}">
{% endblock %}

{% block content %}
<h1>Take your picture!</h1>
<div id="my_camera">
    
</div>
<input id="snapshot" class="p-4 bg-indigo-500 text-white rounded-md" type="button" value="Upload Photo" onClick="take_snapshot()">
<input type="hidden" id="neural-style" value="{{chosen_style_path}}">
<input type="hidden" id="computing-device" value="{{computing_device}}">
<input id="image" type="hidden" name="image" value="">

<div id="results"></div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.26/webcam.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='script/camera.js') }}"></script>
{% endblock %}
