#header {
    font-size: 24px;
    font-weight: bold;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 3px;
}

form {
    padding: 5px;
}

#options, #options label {
    margin: 5px;
    text-align: center;
}

#submit {
    margin: 5px;
}

img {
  width: 120px;
  height: 120px;
}

#options span {
  font-size: 16px;
}

[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  [type=radio] + img {
    cursor: pointer;
  }
  
  /* CHECKED STYLES */
  [type=radio]:checked + img {
    outline: 2px solid #f00;
  }